<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                Madison PHP Conference is looking for people excited about sharing their knowledge with others in a professional and supportive environment. We are looking for talks at all levels about all aspects of PHP and development practices. Aren't sure if we'd be interested in the idea? Submit it and let us decide!
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We know that speakers are key to the success of a conference, so we want to make it as easy for you to participate as possible. In appreciation of your efforts, our speaker compensation package includes:

                <p><a href="{{ url('speaker_package') }}">View Full Speaker Package</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            Madison PHP Conference is committed to creating a conference that is as inclusive as possible. We want to showcase talent available locally, around the U.S., and even internationally.
        </p>
        <p>
            We are committed to ensuring the conference is a safe place where ideas are exchanged, old friends get together, new friends meet, networks are built, and minds are inspired. Please see <a href="http://2015.madisonphpconference.com/conduct/">our Code of Conduct</a> for more information.
        </p>
    </div>
</section>
