{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is looking for talks not just about PHP but about everything a PHP developer may be interested in. We encourage you to "think outside the box" to come up with your own unique topics. We encourage you to submit a few talk ideas, not just one. Our conference also covers a wide range of levels, so feel free to submit talks from Beginner up to Advanced levels and anywhere in between. Everyone in attendance at our conference (including speakers) must adhere to <a href="/conduct/">our Code of Conduct</a>.
    </p>
    <p>
        This is a list of suggestions to get you started. This is not an exhaustive list, and we look forward to reading your ideas:
    </p>
    <ul>
        <li>Virtualization and environments</li>
        <li>Complimentary languages, like JavaScript</li>
        <li>Alternate PHP run-times</li>
        <li>PHP internals</li>
        <li>Development/Design principles</li>
        <li>Security</li>
        <li>Testing</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Building APIs</li>
        <li>Continuous Integration</li>
        <li>Framework or CMS-related topics</li>
        <li>Professional development</li>
    </ul>
</div>
{% endblock %}

