{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <h4 class="headline--alpha">This year's package</h4>

    <p>Our speaker package for this year's event includes:</p>

    <ul>
        <li>Full conference pass (including lunch, receptions, and all activities included in the regular conference)</li>
        <li>For speakers remote to our area, we will also provide:</li>
        <ul>
            <li>Complimentary airfare/travel</li>
            <li>2 complimentary hotel nights</li>
        </ul>
        <li>The hotel has a complimentary shuttle to/from the airport for you.</li>
    </ul>

    <p>International speakers are encouraged to submit their ideas, but because of budget restrictions, we can only accept a limited number of speakers from outside the country.</p>

    <h4 class="headline--alpha">Tips for Submission</h4>

    <p>We <em>strongly</em> encourage potential speakers to submit more than one submission on more than one topic. The more submissions you contribute, the more opportunities you give us to choose you. Be sure your talk title and abstract define the exact topic you want to talk about and what you hope people will learn from the session.</p>

    <p>Speakers will be provided with a projector, a wireless lapel microphone, and a screen for their presentation (size depends on the room). Speakers should bring any equipment they need to connect to the projectors (VGA). We also recommend that you reduce your dependency on the in-house internet connection as much as possible though we will have wireless internet access available to you.</p>

    <p>When the Call for Papers closes, the organizers will sort through the submissions and finalize their selections within a few weeks of closing. Speakers will be notified as soon as the selection process has been completed.</p>
</div>
{% endblock %}
